.btn{
    width: 100%;
}

.action-buttons{
    margin-bottom: 10px;
}

.device-contents{
    min-height: 200px;
}

.card-col{
    margin-top: 20px;
}

.device-contents .row .col-12{
    margin-bottom:20px;
    border-bottom:1px solid #cccccc;
    background-color: yellow;
    padding: 10px;
}

.device-window{
    display: none;
}

#userMessageModalTrigger{
    display:none;
}

#askUserYesNoModal{
    display: none;
}