.btn{
    width: 100%;
}

.action-buttons{
    margin-bottom: 10px;
}

.device-contents{
    min-height: 200px;
}

.namespace-container{
    border-color: #555;
    border-width: 2px;
    border-radius: 10px;
    box-shadow: gray 5px 5px 10px;
}

.card-col{
    margin-top: 20px;
}

.device-contents{
    border:none;
}

.device-contents .row .col-12{
    margin-bottom:20px;
    border-bottom:1px solid #cccccc;
    padding: 10px;
}

.device-window{
    display: none;
}

#userMessageModalTrigger{
    display:none;
}

#askUserYesNoModal{
    display: none;
}

#askUserYesNoModalTrigger{
    display: none;
}

footer{
    font-size: 0.8rem;
    font-style: italic;
}

.deviceItem[namespace='videoDevice']{
    background-color: #05386B;
    color:#b7c4d0;
}

.deviceItem[namespace='hardDisk']{
    background-color: #379683;
    columns: #66b3a6;
}

.deviceItem[namespace='ssd']{
    background-color: #5cdb95;
    columns: #3ba26a;
}